body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.selector-container {
    margin-bottom: 15px;
    text-align: center;
}

#acuifero-select {
    padding: 8px;
    font-size: 16px;
    width: 50%;
    max-width: 400px;
}

#map {
    height: 600px;
    width: 100%;
    border: 1px solid #ccc;
}

/* Estilos de la Leyenda */
.legend {
    line-height: 1.5;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
}

.legend h4 {
    margin: 0 0 5px;
    font-size: 14px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    border: 1px solid #333;
}
